.echarts-container{
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  // overflow-y: auto;
}

.statistical-title{
  height: 68px;
  padding: 19px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  position: relative;
  background: #fff;
  &:before{
    content: '';
    // position: absolute;
    // top: 14px;
    display: inline-block;
    width: 10px;
    height: 28px;
    background: #3a98cc;
    float: left;
  }
  .text-title{
    font-size: 28px;
    line-height: 34px;
    color: #000;
    float: left;
    margin-left: 20px;
  }
  .text-right{
    float: right;
    font-size: 24px;
    line-height: 30px;
    color: #999999;
  }
}

// .echartsData{
  .echarts-main{
    width: 100%;
    // height: auto;
    height: calc(~"100%/2 - 100px");
    min-height: 525px;
    background: #fff;
    position: relative;
    display: flex;
    // margin-bottom: 20px;

    &.echarts-main2{
      height: calc(~"100%/2 - 200px");
      min-height: 450px;
    }

    .echarts-content{
      flex: 1;
      height: 100%;
    }
  }
  .echarts-total{
    // position: absolute;
    // bottom: 0;
    background: #fff;
    width: 100%;
    height: 100px;
    border-top: 1px solid #f1f1f1;
    // border-bottom: 1px solid #ddd;
    // box-shadow: 0px 2px 1px 2px rgba(1, 0, 0, 0.18);

    .echarts-total-item{
      float: left;
      width: 33.33%;
      height: 100%;
      text-align: center;
      color: #666;
      // border-right: 1px solid #ddd;
      &:last-child{
        border-right: none;
      }

      .item-label{
        margin-top: 6px;
        line-height: 40px;
        font-size: 24px;
        color: #b1b1b1;
      }
      .item-value{
        line-height: 50px;
        font-size: 28px;
        color: #489ef9;
        &.item-value-success{
          color: #49c6c2;
        }
        &.item-value-warning{
          color: #db6734;
        }
      }
    }
    &:last-child{
      margin-bottom: 20px;
    }
  }

  .echarts-total2{
    .echarts-total-item{
      width: 33.3%;
    }
  }
// }



.list-block-main{
  margin-bottom: 20px;
  background: #fff;
  .list-block{
    width: 25%;
    height: 120px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    float: left;
    box-sizing: border-box;
    text-align: center;

    .list-block-label{
      color: #b1b1b1;
      height: 38px;
      line-height: 38px;
      font-size: 24px;
    }
    .list-block-value{
      color: #db6734;
      line-height: 38px;
      font-size: 24px;
    }
    .list-block-percent{
      color: #49c6c2;
      line-height: 38px;
      font-size: 24px;
    }
  }
}




.list-block-total{
  padding: 20px;
  box-sizing: border-box;
  color: #b1b1b1;
  line-height: 60px;
  font-size: 24px;
  border-bottom: 1px solid #eee;

  .total-value{
    color: #db6734;
    float: right;
  }
}


.show-total{

  -webkit-tap-highlight-color:transparent;
  width: 120px;
  height: 100%;

  &.show-total2{
    padding-left: 10px;
    width: 140px;
  }
  .total-title{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 6px;
  }
  .show-main-main{
    // max-height: 300px;
    height: 290px;
  }
  .show-main{
    width: 40px;
    height: 260px;
    max-height: 300px;
    background: #ddd;
    margin-left: 40px;
    .show-mian-item{
      width: 100%;
      color: #fff;
      font-size: 16px;
      text-align: center;
      position: relative;
      min-height: 15px;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%,-50%);
      }

      &.color-success{
        background: #81d654;
      }
      &.color-error{
        background: #f00;
      }
      &.color-info{
        background: #aaa;
      }
    }
  }

  .show-content{
    margin: 10px 0;
    text-align: center;
    -webkit-tap-highlight-color:transparent;
    width: 100%;
    .show-content-item{
      height: 46px;
      text-align: left;
      .show-label{
        float: left;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align:middle;
        border-radius: 4px;
        &.color-success{
          background: #81d654;
        }
        &.color-error{
          background: #f00;
        }
        &.color-info{
          background: #aaa;;
        }
      }
      .show-value{
        float: left;
        margin-left: 8px;
        vertical-align:middle;
        display: inline-block;
        line-height: 24px;
        font-size: 20px;
      }
    }
  }
}



.filterMain{
  // height: 100px;
  padding: 16px 0;
  background: #fff;
  margin-bottom: 20px;

  .filterMain_a{
    display: block;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
  }
  a{
    padding: 4px 0px;
    border-radius: 16px;
    border: 1px solid #489ef9;
    color: #489ef9;
    font-size: 24px;
    margin-left: 10px;
    line-height: 32px;
    float: left;
    width: 80px;
    display: inline-block;
    text-align: center;
    &.active{
      color: #fff;
      background: #489ef9;
    }
    &.float_right{
      float: right;
    }
  }

  .custom{
    padding: 0 15px;
    padding-top: 15px;
    box-sizing: border-box;
    display:flex;/*设为伸缩容器*/
    flex-flow:row;/*伸缩项目单行排列*/

    .custom_input{
      flex: 1;
      position: relative;
    }
    .simulate_input{
      width: 46%;
      height: 50px;
      border: none;
      border: 1px solid #dcdee2;
      border-radius: 6px;
      line-height: 50px;
      padding-left: 10px;
      box-sizing: border-box;
      margin: 0 2%;
      font-size: 26px;
      float: left;
      box-shadow: none;
      -webkit-appearance: none;
    }

    button{
      width: 100px;
      float: right;
      vertical-align: middle;
      line-height: 1.5;
      padding: 4px 15px;
      border-radius: 4px;
      font-size: 26px;
      border: none;
      color: #fff;
      background-color: #2d8cf0;
      border-color: #2d8cf0;
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease-out;
  // transition: height 0.3s ease-out;

}

.fade-enter, .fade-leave-to {
  opacity: 0;
  // height: 0;
}
