/**
  * @Author:      changh
  * @DateTime:    2018
  * @Description: 框架主要css，使用less
**/

// css-reset
html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: PingFangSC-Regular,'microsoft yahei';
  color: #314057;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}
p,ul,li,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
ol,ul,dt {
    font-weight: normal;
    list-style: none;
}

// placeholder颜色
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8492a6;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8492a6;
}

input:-ms-input-placeholder{
    color: #8492a6;
}

input::-webkit-input-placeholder{
    color: #8492a6;
}

// input[type=number]不显示上下箭头
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





// bootStrap

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding: 0;
}

.btn[disabled].loading {
  &:after{
    font-family: 'zm-agent';
    content: '\e905';
    display: inline-block;
    -webkit-animation:rotate 1s linear infinite;
    -moz-animation:rotate 1s linear infinite;
    -o-animation:rotate 1s linear infinite;
    margin-left: 6px;
    @-webkit-keyframes rotate{
      0%  {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
      }
      100% {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
      }
    }

  }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}





.verticalAlignMiddle {
  vertical-align: middle;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
.inlineBlock {
  display: inline-block;
}

.heightAuto {
  height: auto !important;
}
.padding-0 {
  padding: 0;
}
.paddingR-7{
  padding-right: 7px;
}
.paddingR-7{
  padding-right: 7px;
}
.paddingR-12{
  padding-right: 12px !important;
}
.paddingR-20{
  padding-right: 20px !important;
}
.paddingL-12{
  padding-left: 12px !important;
}
.paddingL-20{
  padding-left: 20px !important;
}
.paddingL-24{
  padding-left: 24px !important;
}
.margin-0{
  margin: 0;
}
.marginT-0{
  margin-top: 0;
}
.marginT-9{
  margin-top: 9px;
}
.marginT-10{
  margin-top: 10px;
}

.marginT-20{
  margin-top: 20px !important;
}
.marginR-7{
  margin-right: 7px;
}
.marginR-12{
  margin-right: 12px;
}
.marginR-14{
  margin-right: 14px;
}
.marginR-15{
  margin-right: 15px;
}
.marginB-6 {
  margin-bottom: 6px;
}
.marginB-0 {
  margin-bottom: 0;
}
.marginB-9 {
  margin-bottom: 90px;
}
.marginB-12 {
  margin-bottom: 12px;
}
.marginB-20 {
  margin-bottom: 20px !important;
}
.marginL-7 {
  margin-left: 7px;
}
.marginL-15 {
  margin-left: 15px;
}
.marginL-70 {
  margin-left: 70px;
}
.marginL-75 {
  margin-left: 75px;
}
.marginL-90 {
  margin-left: 90px;
}


.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}


.color-success{
  color: #49c6c2;
}
.color-info{
  color: #329ad9;
}
.color-error{
  color: #fa6c9a;
}
.color-warning{
  color: #f8992b;
}


.weui-toast__content{
  font-size: 32px;
}